name: CI

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  deploy-to-dev:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - name: Set up gcloud SDK
        uses: google-github-actions/setup-gcloud@v2
        with:
          project_id: ${{ secrets.GCP_PROJECT_ID }}

      - name: Verify auth
        run: gcloud auth list

      - name: Set image tag
        run: echo "IMAGE_TAG=$(git rev-parse --short HEAD)" >> $GITHUB_ENV

      - name: Build image
        run: |
          gcloud builds submit \
            --config cloudbuild.yaml \
            --substitutions _REACT_APP_GEMINI_API_KEY="${{ secrets.GEMINI_API_KEY }}",\
                            _REACT_APP_ADMIN_EMAIL="${{ vars.ADMIN_EMAIL }}",\
                            _REACT_APP_GOOGLE_CLIENT_ID="${{ vars.GOOGLE_CLIENT_ID }}",\
                            _IMAGE_TAG="${{ env.IMAGE_TAG }}"

      - name: Deploy app
        run: |
          gcloud run deploy direct-admission-dev \
            --image gcr.io/${{ secrets.GCP_PROJECT_ID }}/direct-admission:${{ env.IMAGE_TAG }} \
            --platform managed \
            --region ${{ vars.REGION }} \
            --allow-unauthenticated \
            --memory ${{ vars.MEMORY }} \
            --set-env-vars GOOGLE_SHEET_ID="${{ vars.GOOGLE_SHEET_ID }}" \
            --set-env-vars GOOGLE_SERVICE_ACCOUNT_EMAIL="${{ vars.GOOGLE_SERVICE_ACCOUNT_EMAIL }}" \
            --set-env-vars GOOGLE_PRIVATE_KEY="${{ secrets.GCP_PROJECT_ID }}"
