name: CI Pipeline

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize   # triggered when new commits are pushed to PR
    branches:
      - release       # PR target branch must be "release"

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number }}
  cancel-in-progress: true

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout PR branch
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # important for merging

      - name: Configure Git
        run: |
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"
      
      - name: Fetch release branch
        run: git fetch origin release

      - name: Merge PR changes into release
        run: |
          # Make release branch the target of merge
          git checkout -B release origin/release
          git merge origin/main --no-commit --no-ff || {
            echo "Merge conflict detected!";
            exit 1;
          }
      
      - name: Generate tag (Commit short SHA)
        run: echo "IMAGE_TAG=$(git rev-parse --short HEAD)" >> $GITHUB_ENV

      - uses: ./.github/actions/build-image
        id: build-image
        with:
          image-tag: ${{ env.IMAGE_TAG }}
          react-app-initial-admin-email: ${{ vars.REACT_APP_INITIAL_ADMIN_EMAIL }}
          react-app-google-client-id: ${{ vars.REACT_APP_GOOGLE_CLIENT_ID }}
        env:
          DOCKER_REPO: ${{ vars.DOCKER_REPO }}

      - uses: ./.github/actions/run-tests
        with:
          image-path: ${{ steps.build-image.outputs.image-path }}
        env:
          GEMINI_API_KEY: ${{ secrets.GEMINI_API_KEY }}
          GOOGLE_SHEET_ID: ${{ vars.GOOGLE_SHEET_ID }}
          GOOGLE_SERVICE_ACCOUNT_EMAIL: ${{ vars.GOOGLE_SERVICE_ACCOUNT_EMAIL }}
          GOOGLE_PRIVATE_KEY: ${{ secrets.GOOGLE_PRIVATE_KEY }}
