name: Scaling Job (stage)
description: Scaling job for AWS AppRunner in staging environment

on:
  schedule:
    - cron: "0 * * * *"   # every hour
  workflow_dispatch:
    inputs:
      scale:
        type: choice
        description: Scale
        options:
          - up
          - down
        required: true
        default: up

run-name: Scale-${{ needs.scale.outputs.scale }} stage

jobs:
  scale:
    if: vars.CLOUD == 'AWS'
    runs-on: ubuntu-latest
    environment: stage
    name: scale-${{ steps.detect.outputs.scale }}

    steps:
      - name: Determine trigger type & scale value
        run: |
          if [ "${{ github.event_name }}" = "schedule" ]; then
              echo "SCALE=down" >> $GITHUB_ENV
          else
              echo "SCALE=${{ github.event.inputs.scale }}" >> $GITHUB_ENV
          fi

      - name: Scale AppRunner
        run: |
          ACCOUNT_ID=(echo "$GITHUB_ROLE_ARN" | cut -d: -f5)
          SERVICE_ARN=arn:aws:apprunner:${{ vars.REGION }}:$ACCOUNT_ID:service/${{ vars.SERVICE_NAME }}

          if [ "${{ env.SCALE }}" = "up" ]; then
            aws apprunner resume-service --service-arn $SERVICE_ARN
            echo "Environment scaled-up ⬆️"
          else
            aws apprunner pause-service --service-arn $SERVICE_ARN
            echo "Environment scaled-down ⬇️"
          fi
